<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoGa Trivia</title>
    <link rel="stylesheet" href="/public/css/home_page_stylesheet.css">
</head>
<body>


    <header>
        <a class="img_link" href="/"><img src="/public/images/webapp_logo_header.png" alt="webapp_logo_header" width="25%" height="25%"></a>
        <br><br>
        <nav>
            <a href="/">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="/quizInfo">Quizzes</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="/login">Login</a>
        </nav>
    </header>


    <main>

       
        <section class="htp">

            <h2 class="head_htp">How To Play</h2>

            <p class="desc">
                MoGa Trivia is a Trivia game that features four different quizzes 
                with two different themes being movies and video games, 
                to find out more about each quiz click on the quizzes tab on the Menu bar. 
                MoGa Trivia features a account system that if you log in or create an account
                MoGa Trivia will track your average accuracy and speed for each quiz 
                so that you can improve your stats over time.
            </p>
 
        </section>

        <section class="qqa">
            
            <h2 class="head_qqa">Quiz Quick Access</h2>
            <div class="quiz_links">
                <!--Add Links to each individual quiz when finished with them, adding filler links for css purposes-->
                
            <a href="/quiz1">Quiz #1 - Movie Characters</a> <br><br>
            <a href="/quiz2">Quiz #2 - Video Game Items</a> <br><br>
            <a href="/quiz3">Quiz #3 - Movie Quotes</a> <br><br>
            <a href="/quiz4">Quiz #4 - Video Game Sound Effects</a>
            
            </div>
            
        </section>>
    
    </main>

    
    <footer>
        
        <p class="foot_p">&copy;JohnChown2021. Have Questions or Feedback? Click <a href="mailto:johnchown@oakland.edu">here</a> to reach out to the creator.</p>
       
    </footer>
</body>
</html>