@font-face {
    font-family: Futura;
    src: url(/public/fonts/Futura\ Heavy\ font.ttf);
}

body{
    background-image: url(/public/images/web_background.png);
    margin-left: 100px;
    margin-right: 100px;
    max-width: initial;
    overflow-x: hidden;
    overflow-y: scroll;
}

img{
    box-shadow: 10px 10px 10px;
}

header{
    position: relative;
    text-align: center;
    
}

nav{
    background-color: white;
    font-family: futura;
    font-size: 200%;
    box-shadow: 10px 10px 10px;
    padding: 10px;
    margin-bottom: 50px;
}

main{
    background-color: white;
    text-align: center;
    font-family: futura;
    padding-bottom: 30px;
    box-shadow: 10px 10px 10px;
}

h1{
    font-size: 700%;
}

 h2{
     font-size: 450%;
 }


a{
    color:black;
    text-decoration: none;
    padding-top: 10px;
    font-family: futura;
    background-color: white;
    font-size: 175%;
}

a:hover{
    background-color: black;
      color: white;
  }

  footer{
    
    
    box-shadow: 10px 10px 10px;
    padding-top: 50px;
}

.foot_p{
    background-color: white;
    font-family: futura;
    text-align: center;
    
}

.here{
    font-size: 100%;
    background-color: unset;
}

.img_link:hover{
    color: black;
  }

  .img_link{
      background-color:unset;
  }