<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoGa Trivia - Quiz 1</title>
    <link rel="stylesheet" href="/public/css/text_quiz_stylesheet.css">
</head>
<body>
    <header>
        <a class="img_link" href="/views/index.ejs"><img src="/public/images/webapp_logo_header.png" alt="webapp_logo_header" width="25%" height="25%"></a>
        <br><br>
        <nav>
            <a href="/">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="/quizInfo">Quizzes</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="/login">Login</a>
        </nav>
    </header>

    <main>
        <div class="q1">
            <h2>Question - Beatrix Kiddo</h2>
            <p id="q1_q1_a1">
            Reservoir Dogs
            </p>
            <p id="q1_q1_a2">
            The Matrix Series
            </p>
            <p id="q1_q1_a3">
            The Kill Bill Series
            </p>
            <p id="q1_q1_a4">
            Pulp Fiction
            </p>
        </div>
        
     
        <div class="q2">
            <h2>Question - Scotty Smalls</h2>
            <p id="q1_q2_a1">
               The Back to The Future Series
            </p>
            <p id="q1_q2_a2">
                The Outsiders
            </p>
            <p id="q1_q2_a3">
                The Mighty Ducks Series
            </p>
            <p id="q1_q2_a4">
                The Sandlot
            </p>
        </div>


        <div class="q3">
            <h2>Question - Sheev Palpatine</h2>
            <p id="q1_q3_a1">
                The Star Wars Series
            </p>
            <p id="q1_q3_a2">
                The Star Trek Series
            </p>
            <p id="q1_q3_a3">
                Avatar
            </p>
            <p id="q1_q3_a4">
                The Guardians of The Galaxy Series
            </p>
        </div>


        <div class="q4">
            <h2>Question - Remus Lupin</h2>
            <p id="q1_q4_a1">
                The Lord of The Rings Series
            </p>
            <p id="q1_q4_a2">
                What We Do In The Shadows
            </p>
            <p id="q1_q4_a3">
                The Harry Potter Series
            </p>
            <p id="q1_q4_a4">
                The Twilight Series
            </p>
        </div>


        <div class="q5">
            <h2>Question - Jack Torrance</h2>
            <p id="q1_q5_a1">
                The IT Series
            </p>
            <p id="q1_q5_a2">
                The Shining
            </p>
            <p id="q1_q5_a3">
                Friday The 13th
            </p>
            <p id="q1_q5_a4">
                The Conjuring Series
            </p>
        </div>


        <div class="q6">
            <h2>Question - Mufasa</h2>
            <p id="q1_q6_a1">
                Finding Nemo
            </p>
            <p id="q1_q6_a2">
                The Lion King
            </p>
            <p id="q1_q6_a3">
                The Madagascar Series
            </p>
            <p id="q1_q6_a4">
                Black Panther
            </p>
        </div>


        <div class="q7">
            <h2>Question - Donnie Azoff</h2>
            <p id="q1_q7_a1">
                Good Fellas
            </p>
            <p id="q1_q7_a2">
                The Godfather Series
            </p>
            <p id="q1_q7_a3">
                Casino
            </p>
            <p id="q1_q7_a4">
                The Wolf of Wall Street
            </p>
        </div>


        <div class="q8">
            <h2>Question - Jimmy Conway</h2>
            <p id="q1_q8_a1">
                Heat
            </p>
            <p id="q1_q8_a2">
                Good Fellas
            </p>
            <p id="q1_q8_a3">
                The Irishman
            </p>
            <p id="q1_q8_a4">
                The Friday The 13th Series
            </p>
        </div>


        <div class="q9">
            <h2>Question - Patrick Bateman</h2>
            <p id="q1_q9_a1">
                Silence of The Lambs
            </p>
            <p id="q1_q9_a2">
                The Scream Series
            </p>
            <p id="q1_q9_a3">
                The Saw Series
            </p>
            <p id="q1_q9_a4">
                American Psycho
            </p>
        </div>


        <div class="q10">
            <h2>Question - Foggell</h2>
            <p id="q1_q10_a1">
                Superbad
            </p>
            <p id="q1_q10_a2">
                Step Brothers
            </p>
            <p id="q1_q10_a3">
                The 40 Year Old Virgin
            </p>
            <p id="q1_q10_a4">
                Pineapple Express
            </p>
        </div>               
    </main>

    <footer>
        <p class="foot_p">&copy;JohnChown2021. Have Questions or Feedback? Click <a class="here" href="mailto:johnchown@oakland.edu">here</a> to reach out to the creator.</p>
    </footer>


</body>
</html>