<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoGa Trivia - Quiz 2</title>
    <link rel="stylesheet" href="/public/css/text_quiz_stylesheet.css">
    <script src="/index.js"></script>
</head>
<body>
    
    <header>
        <a class="img_link" href="/"><img src="/public/images/webapp_logo_header.png" alt="webapp_logo_header" width="25%" height="25%"></a>
        <br><br>
        <nav>
            <a href="/">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="/quizInfo">Quizzes</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="/auth/google">Login</a>
        </nav>
    </header>

    <main>

        <form action="/q2" method="POST">

            <div class="q1">
                <h2>Question - Mushroom</h2>
                <p id="q2_q1_a1">
                Sonic
                </p>
                <p id="q2_q1_a2">
                Super Mario Brothers
                </p>
                <p id="q2_q1_a3">
                Pacman
                </p>
                <p id="q2_q1_a2">
                Fabel
                </p>

                <input type="text" name="q2Answer1" placeholder="Answer a, b, c, or d"> 
            </div>
            
         
            <div class="q2">
                <h2>Question - Energy Sword</h2>
                <p id="q2_q2_a1">
                   Mass Effect
                </p>
                <p id="q2_q2_a2">
                    Half-Life
                </p>
                <p id="q2_q2_a3">
                    Star Wars: Jedi Fallen Order
                </p>
                <p id="q2_q2_a4">
                    Halo
                </p>

                <input type="text" name="q2Answer2" placeholder="Answer a, b, c, or d"> 
            </div>
    
    
            <div class="q3">
                <h2>Question - BFG-9000</h2>
                <p id="q2_q3_a1">
                    DOOM
                </p>
                <p id="q2_q3_a2">
                    Call of Duty - Zombies
                </p>
                <p id="q2_q3_a3">
                    Fallout
                </p>
                <p id="q2_q3_a4">
                    Saint's Row
                </p>

                <input type="text" name="q2Answer3" placeholder="Answer a, b, c, or d"> 
            </div>
    
    
            <div class="q4">
                <h2>Question - Gravity Gun</h2>
                <p id="q2_q4_a1">
                    Portal
                </p>
                <p id="q2_q4_a2">
                    Alien Isolation
                </p>
                <p id="q2_q4_a3">
                    BioShock
                </p>
                <p id="q2_q4_a4">
                    Half-Life
                </p>

                <input type="text" name="q2Answer4" placeholder="Answer a, b, c, or d"> 
            </div>
    
    
            <div class="q5">
                <h2>Question - Heart of Gold</h2>
                <p id="q2_q5_a1">
                    DOTA
                </p>
                <p id="q2_q5_a2">
                    Smite
                </p>
                <p id="q2_q5_a3">
                    League of Legends
                </p>
                <p id="q2_q5_a4">
                    Heroes of The Storm
                </p>

                <input type="text" name="q2Answer5" placeholder="Answer a, b, c, or d"> 
            </div>
    
    
            <div class="q6">
                <h2>Question - Ray Gun</h2>
                <p id="q2_q6_a1">
                    Star Wars: The Old Republic
                </p>
                <p id="q2_q6_a2">
                    Borderlands
                </p>
                <p id="q2_q6_a3">
                    Halo
                </p>
                <p id="q2_q6_a4">
                    Call of Duty - Zombies
                </p>

                <input type="text" name="q2Answer6" placeholder="Answer a, b, c, or d"> 
            </div>
    
    
            <div class="q7">
                <h2>Question - Master Ball</h2>
                <p id="q2_q7_a1">
                   Pokemon
                </p>
                <p id="q2_q7_a2">
                    Wii Sports
                </p>
                <p id="q2_q7_a3">
                    Monkey Ball
                </p>
                <p id="q2_q7_a4">
                    Sonic
                </p>

                <input type="text" name="q2Answer7" placeholder="Answer a, b, c, or d"> 
            </div>
    
    
            <div class="q8">
                <h2>Question - Lancer</h2>
                <p id="q2_q8_a1">
                    Medal of Honor
                </p>
                <p id="q2_q8_a2">
                    Gears of War
                </p>
                <p id="q2_q8_a3">
                    Chivalry
                </p>
                <p id="q2_q8_a4">
                    Middle-earth: Shadow of Mordor
                </p>

                <input type="text" name="q2Answer8" placeholder="Answer a, b, c, or d"> 
            </div>
    
    
            <div class="q9">
                <h2>Question - Enderpearl</h2>
                <p id="q2_q9_a1">
                    Skyrim
                </p>
                <p id="q2_q9_a2">
                    Dark Souls
                </p>
                <p id="q2_q9_a3">
                    The Witcher
                </p>
                <p id="q2_q9_a4">
                    Minecraft
                </p>

                <input type="text" name="q2Answer9" placeholder="Answer a, b, c, or d"> 
            </div>
    
    
            <div class="q10">
                <h2>Question - Arthur's Hat</h2>
                <p id="q2_q10_a1">
                    Red Dead Redemption
                </p>
                <p id="q2_q10_a2">
                    Left4Dead
                </p>
                <p id="q2_q10_a3">
                    Resident Evil
                </p>
                <p id="q2_q10_a4">
                    Uncharted
                </p>

                <input type="text" name="q2Answer10" placeholder="Answer a, b, c, or d"> 
            </div>

            <input class="subBtn" type="submit" name="submit" value="Submit">

            <br><br><br><br>

            <a class="stats" href="/quizTwoStats">Click Here to See Your Results!</a>
        </form>
                      
    </main>

    <footer>
        <p class="foot_p">&copy;JohnChown2021. Have Questions or Feedback? Click <a class="here" href="mailto:johnchown@oakland.edu">here</a> to reach out to the creator.</p>
    </footer>

</body>
</html>