<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoGa Trivia - Quiz Info</title>
    <link rel="stylesheet" href="/public/css/quizzes_page_stylesheet.css">
    <script src="/index.js"></script>
</head>
<body>
    <header>
        <a class="img_link" href="/"><img src="/public/images/webapp_logo_header.png" alt="webapp_logo_header" width="25%" height="25%"></a>
        <br><br>
        <nav>
            <a href="/">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="/quizInfo">Quizzes</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="/auth/google">Login</a>
        </nav>
    </header>

    <main>

        <section class="quiz_1">
            <h2>Quiz #1</h2>
            <p class="desc_q">
                The First Quiz will be a movie character quiz. 
                You will be given a character name and you will then have to guess the title of the movie that the character appears in. 
                You will have to pick one out of four movie titles in a multiple choice fashion.
                This quiz has 10 questions.
            </p>
            <br>
            <a class="qa" href="/quiz1">Click Here To Play</a>
            <br><br><br>
            <a class="qs" href="/quizOneStats">Click Here To View Stats</a>
        </section>

        <section class="quiz_2">
            <h2>Quiz #2</h2>
            <p class="desc_q">
                The Second Quiz will be a video game item quiz. 
                You will be given the name of an item from a video game and then you will have to guess the video game that the item appears in.
                You will have to pick one out of four video game titles in a multiple choice fashion.
                This quiz has 10 questions.
            </p>
            <br>  
            <a class="qa" href="/quiz2">Click Here To Play</a>
            <br><br><br>
            <a class="qs" href="/quizTwoStats">Click Here To View Stats</a>
 
        </section>

        <section class="quiz_3">
            <h2>Quiz #3</h2>
            <p class="desc_q">
                The third quiz will be a movie quote quiz.
                You will be given an audio clip that plays a quote from a movie and you will then have to guess the movie where the quote is said.
                You will have to pick one out of four movie titles in a multiple choice fashion.
                On top of this, you will have the option to guess the name of the character that said the quote for a bonus point.
                You will enter the character name in a text box.
                This quiz has 10 questions.
            </p>
            <br>
            <a class="qa" href="/quiz3">Click Here To Play</a>
            <br><br><br>
            <a class="qs" href="/quizThreeStats">Click Here To View Stats</a>
        </section>

        <section class="quiz_4">
            <h2>Quiz #4</h2>
            <p class="desc_q">
                The fourth quiz will be a video game sound effect quiz.
                You will be given an audio clip that plays a sound effect from a video game and you will then have to guess the video game where the sound effect is present.
                You will have to pick one out of four video game titles in a multiple choice fashion.
                On top of this, you will have the option to guess the name of the sound effect that is played for a bonus point.
                You will enter the sound effect name in a text box.
                This quiz has 10 questions.
            </p>
            <br>
            <a class="qa" href="/quiz4">Click Here To Play</a>
            <br><br><br>
            <a class="qs" href="/quizFourStats">Click Here To View Stats</a>
        </section>
    </main>

    <footer>
        
        <p class="foot_p">&copy;JohnChown2021. Have Questions or Feedback? Click <a href="mailto:johnchown@oakland.edu">here</a> to reach out to the creator.</p>
       
    </footer>
</body>
</html>