<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoGa Trivia - Quiz 3</title>
    <link rel="stylesheet" href="/public/css/audio_quiz_stylesheet.css">
</head>
<body>


    <header>
        <a class="img_link" href="/"><img src="/public/images/webapp_logo_header.png" alt="webapp_logo_header" width="25%" height="25%"></a>
        <br><br>
        <nav>
            <a href="/">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="/quizInfo">Quizzes</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="/login">Login</a>
        </nav>
    </header>


    <main>

        <form action="/q3" method="POST">

            <div class="q1">
                <h2>Question 1</h2>
                <audio src="/public/audio/movieq1.m4a" controls></audio>
                <p id="q3_q1_a1">
                    Spiderman 3
                </p>
                <p id="q3_q1_a2">
                    Friday
                </p>
                <p id="q3_q1_a3">
                    21 Jump Street
                </p>
                <p id="q3_q1_a4">
                    Anchorman: The Legend of Ron Burgundy
                </p>
                <input type="text" name="q3Answer1" placeholder="Answer a, b, c, or d"> <br><br>
                <label for="wq1">Who Said This?</label>
                <input type="text" name="wqq1">
            </div>
    
            <div class="q2">
                <h2>Question 2</h2>
                <audio src="/public/audio/movieq2.m4a" controls></audio>
                <p id="q3_q2_a1">
                    Jaws
                </p>
                <p id="q3_q1_a2">
                    Sharknado
                </p>
                <p id="q3_q1_a3">
                    Jurassic Park
                </p>
                <p id="q3_q1_a4">
                    Godzilla
                </p>
                <input type="text" name="q3Answer2" placeholder="Answer a, b, c, or d"> <br><br>
                <label for="wq2">Who Said This?</label>
                <input type="text" name="wqq2">
            </div>
    
            <div class="q3">
                <h2>Question 3</h2>
                <audio src="/public/audio/movieq3.m4a" controls></audio>
                <p id="q3_q3_a1">
                    The Meg
                </p>
                <p id="q3_q3_a2">
                    Jaws
                </p>
                <p id="q3_q3_a3">
                    The Shallows
                </p>
                <p id="q3_q3_a4">
                    Deep Blue Sea
                </p>
                <input type="text" name="q3Answer3" placeholder="Answer a, b, c, or d"> <br><br>
                <label for="wq3">Who Said This?</label>
                <input type="text" name="wqq3">
            </div>
    
            <div class="q4">
                <h2>Question 4</h2>
                <audio src="/public/audio/movieq4.m4a" controls></audio>
                <p id="q3_q4_a1">
                    The Hobbit
                </p>
                <p id="q3_q4_a2">
                    Robin Hood
                </p>
                <p id="q3_q4_a3">
                    The Lord of The Rings
                </p>
                <p id="q3_q4_a4">
                    Twilight
                </p>
                <input type="text" name="q3Answer4" placeholder="Answer a, b, c, or d"> <br><br>
                <label for="wq4">Who Said This?</label>
                <input type="text" name="wqq4">
            </div>
    
            <div class="q5">
                <h2>Question 5</h2>
                <audio src="/public/audio/movieq5.m4a" controls></audio>
                <p id="q3_q5_a1">
                    Jackie Brown
                </p>
                <p id="q3_q5_a2">
                    Vertigo
                </p>
                <p id="q3_q5_a3">
                    Django Unchained
                </p>
                <p id="q3_q5_a4">
                    Pulp Fiction
                </p>
                <input type="text" name="q3Answer5" placeholder="Answer a, b, c, or d"> <br><br>
                <label for="wq5">Who Said This?</label>
                <input type="text" name="wqq5">
            </div>
    
            <div class="q6">
                <h2>Question 6</h2>
                <audio src="/public/audio/movieq6.m4a" controls></audio>
                <p id="q3_q6_a1">
                    Step Brothers
                </p>
                <p id="q3_q6_a2">
                    Superbad
                </p>
                <p id="q3_q6_a3">
                    Hall Pass
                </p>
                <p id="q3_q6_a4">
                    Austin Powers
                </p>
                <input type="text" name="q3Answer6" placeholder="Answer a, b, c, or d"> <br><br>
                <label for="wq6">Who Said This?</label>
                <input type="text" name="wqq6">
            </div>
    
            <div class="q7">
                <h2>Question 7</h2>
                <audio src="/public/audio/movieq7.mp3" controls></audio>
                <p id="q3_q7_a1">
                    Silence of The Lambs
                </p>
                <p id="q3_q7_a2">
                    Pirates of The Caribbean
                </p>
                <p id="q3_q7_a3">
                    The Dark Knight
                </p>
                <p id="q3_q7_a4">
                    Avengers
                </p>
                <input type="text" name="q3Answer7" placeholder="Answer a, b, c, or d"> <br><br>
                <label for="wq7">Who Said This?</label>
                <input type="text" name="wqq7">
            </div>
    
            <div class="q8">
                <h2>Question 8</h2>
                <audio src="/public/audio/movieq8.mp3" controls></audio>
                <p id="q3_q8_a1">
                    Speed
                </p>
                <p id="q3_q8_a2">
                    True Romance
                </p>
                <p id="q3_q8_a3">
                    Oceans Eleven
                </p>
                <p id="q3_q8_a4">
                    John Wick
                </p>
                <input type="text" name="q3Answer8" placeholder="Answer a, b, c, or d"> <br><br>
                <label for="wq8">Who Said This?</label>
                <input type="text" name="wqq8">
            </div>
    
            <div class="q9">
                <h2>Question 9</h2>
                <audio src="/public/audio/movieq9.mp3" controls></audio>
                <p id="q3_q9_a1">
                    Monster's INC
                </p>
                <p id="q3_q9_a2">
                    Legend of Tarzan
                </p>
                <p id="q3_q9_a3">
                    Toy Story
                </p>
                <p id="q3_q9_a4">
                    Up
                </p>
                <input type="text" name="q3Answer9" placeholder="Answer a, b, c, or d"> <br><br>
                <label for="wq9">Who Said This?</label>
                <input type="text" name="wqq9">
            </div>
    
            <div class="q10">
                <h2>Question 10</h2>
                <audio src="/public/audio/movieq10.m4a" controls></audio>
                <p id="q3_q10_a1">
                    TMNT
                </p>
                <p id="q3_q10_a2">
                    Transformers
                </p>
                <p id="q3_q10_a3">
                    Bad Boys
                </p>
                <p id="q3_q10_a4">
                    White Chicks
                </p>
                <input type="text" name="q3Answer10" placeholder="Answer a, b, c, or d"> <br><br>
                <label for="wq10">Who Said This?</label>
                <input type="text" name="wqq10">
            </div>

            <input class="subBtn" type="submit" name="submit" value="Submit">

            <br><br><br><br>

            <a class="stats" href="/quizThreeStats">Click Here to See Your Results!</a>
        </form>
        
    </main>

    <footer>
        <p class="foot_p">&copy;JohnChown2021. Have Questions or Feedback? Click <a class="here" href="mailto:johnchown@oakland.edu">here</a> to reach out to the creator.</p>
    </footer>
    
</body>
</html>