<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz 4 Stats</title>
    <link rel="stylesheet" href="/public/css/quizzes_page_stylesheet.css">
    <script src="/index.js"></script>
</head>
<body>
    <header>
        <a class="img_link" href="/"><img src="/public/images/webapp_logo_header.png" alt="webapp_logo_header" width="25%" height="25%"></a>
        <br><br>
        <nav>
            <a href="/">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="/quizInfo">Quizzes</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="/auth/google">Login</a>
        </nav>
    </header>

    <main>
        <h1 class="quiz">QUIZ 4 - STATS</h1>
        <br><br><br>
        <p class="note">NOTE: Unfortunately due to a function of ClearDB which is used for the database of Moga Trivia, The QuizAttempt shows the incorrect number, rather than relying on the attempt number to decide when you took what test
            simply look for the quiz at the bottom as its the most recent quiz attempt.
        </p>
        <p class="table"><%= data %></p>
    </main>

    <footer>
        
        <p class="foot_p">&copy;JohnChown2021. Have Questions or Feedback? Click <a href="mailto:johnchown@oakland.edu">here</a> to reach out to the creator.</p>
       
    </footer>
    
</body>
</html>