<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoGa Trivia - Signup</title>
    <link rel="stylesheet" href="/public/css/signup_page_stylesheet.css">
</head>
<body>
    <header>
        <a class="img_link" href="/"><img src="/public/images/webapp_logo_header.png" alt="webapp_logo_header" width="25%" height="25%"></a>
        <br><br>
        <nav>
            <a href="/">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="/quizInfo">Quizzes</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            <a href="/login">Login</a>
        </nav>
    </header>

    <main>
        <h1>Sign Up</h1>

        <h2>Enter Email:
            <br><br>
            Set Username:
            <br><br>
            Set Password:
            <br><br>
            Confirm Password:
        </h2>

    </main>


    <footer>
        
        <p class="foot_p">&copy;JohnChown2021. Have Questions or Feedback? Click <a class="here" href="mailto:johnchown@oakland.edu">here</a> to reach out to the creator.</p>
       
    </footer>

</body>
</html>